.navbar-brand {
  color: white !important;
  display: flex; /* horizontal layout */
  gap: 20px; /* space between links */
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white !important;
  display: flex; /* horizontal layout */
  gap: 20px; /* space between links */
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: whitesmoke !important;
  display: flex; /* horizontal layout */
  gap: 20px; /* space between links */
  margin: 0;
  padding: 0;
}
body {
  background-color: black !important;
  color: white !important;
  display: flex; /* horizontal layout */
  gap: 20px; /* space between links */
  margin: 0;
  padding: 0;
}
